.custom_style {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}
.custom_width {
  width: 100%;
}
.center {
  display: flex;

  align-items: center;
  justify-content: center;
}
